<section id="about" class="about">
  <div class="container mx-lg-5 px-lg-5">
    <div class="row about-content">
      <div class="col-lg-6 about-img">
        <img src="./assets/about-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 ms-4">
        <div class="about-text">
          <h1>About me</h1>
          <h3 class="mt-4" [innerHTML]="about"></h3>
        </div>
      </div>
    </div>
    <div class="row techStacks">
      <div class="col-12 techStacks-content">
        <h4>Tech Stacks</h4>
        <div class="techStacks-icon">
          <ul>
            <li>
              <img
                src="./assets/javascript.png"
                class="img-fluid"
                alt="Javascript"
              />
            </li>
            <li>
              <img src="./assets/angular.png" class="img-fluid" alt="Angular" />
            </li>
            <li>
              <img src="./assets/csharp.png" class="img-fluid" alt="C Sharp" />
            </li>
            <li>
              <img
                src="./assets/aspnet.png"
                class="img-fluid"
                alt="ASP NET Core"
              />
            </li>
            <li>
              <img
                src="./assets/sqlserver.png"
                class="img-fluid"
                alt="Microsoft SQL Server"
              />
            </li>
            <li>
              <img src="./assets/azure.png" class="img-fluid" alt="Azure" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
